# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and local files
*.log
*.sqlite3
*.db

# Environment variable files
.env
.env.*

# macOS and Linux junk files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/
